
/* Start journey */
.influence{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-color: rgb(161, 149, 151);
    background-image: linear-gradient(rgb(240, 212, 217) pink);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}
.fa-arrow-right{
    color: red;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;
}
.logo{
    display: inline;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap: 5px;
}
/* Popular collection */
.top-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 0px;
}
.fa-star.filled{
    color: orange;
}
.collection-detail{
    font-size: small;
}
.feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
